* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
  color: #333;
}

/* Section Layout */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
  background: linear-gradient(to right, #ffffff 60%, #f8f4ff 100%);
}

/* Left Text Area */
.about-content {
  flex: 1;
  padding-right: 50px;
}

.about-content h2 {
  color: #6a1b9a;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about-content h1 {
  color: #4b2c7a;
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.about-content p {
  color: #5a5a5a;
  line-height: 1.8;
  font-size: 16px;
  text-align: justify;
}

/* Right Image Area */
.about-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.about-image img {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


@media (max-width: 900px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .about-image img {
    width: 400;
  }
}
